<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore role:require="Standalone or ContentManagement or XMCloud" security:require="Sitecore">
		<!--Custom logs for audit logs-->
		<log4net>
			<appender name="AuditLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/audit/audit.log.{date}.txt" />
				<appendToFile value="true" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n" />
				</layout>
				<encoding value="utf-8" />
			</appender>
			<logger name="Sitecore.Diagnostics.Auditing" additivity="false">
				<level value="INFO" />
				<appender-ref ref="AuditLogFileAppender" />
			</logger>
		</log4net>
		<pipelines>
			<initialize>
				<processor type="AuditLogs.Diagnostics.Audit, AuditLogs" />
			</initialize>
		</pipelines>
		<!--Custum command for MongoDB export button-->
		<commands>
			<command name="mongodb:export" type="AuditLogs.Commands.MongoExportUtil,AuditLogs"/>
		</commands>
		<!-- General settings -->
		<settings>
			<setting name="MongoDBUrl" value="mongodb://localhost:27017" />
			<setting name="MongoDBName" value="Audit" />
			<setting name="MongoDBCollectionName" value="Logs" />
			<setting name="AuditLogDirectoryPath" value="C:\inetpub\wwwroot\sc104sc.dev.local\App_Data\logs\audit\old" />
		</settings>
	</sitecore>
</configuration>
